// Visibility Hide on Mobile
.yot-hide-for-mobile {
    @include breakpoint-down(large-laptop) {
        display: none !important;
    }
}
  
// Visibility Hide on Desktop
.yot-hide-for-desktop {
    @include breakpoint-up(large-laptop) {
        display: none !important;
    }
}


// Title unique font
.title-font-fraunces{
    font-family: 'Fraunces', serif;
}

.cherry-container,.orange-container{
    position: relative;
    overflow: hidden;
}

.cherry-content,.orange-content{
    position: absolute;
    bottom: 80px;
}

// hover icon
.hoverIcon{
    color: $yot-desaturated-cyan;
    font-size: 36px;
    cursor: pointer;
}

.hoverIcon:hover{
    color: $yot-white;
}

// hover navlinks
.hover-links{
    color: $yot-desaturated-cyan;
    cursor: pointer;
}

.hover-links:hover{
    color: $yot-desaturated-cyan;
    color: $yot-white;
}