// Colors
$yot-white:hsl(0, 0%, 100%);
$yot-soft-red:hsl(7, 99%, 70%);
$yot-yellow:hsl(51, 100%, 49%);
$yot-desaturated-cyan:hsl(167, 40%, 24%);
$yot-dark-blue:hsl(198, 62%, 26%);
$yot-moderate-cyan:hsl(168, 34%, 41%);
$yot-black:hsl(0, 0%, 0%);
$yot-very-dark-desaturated-blue:hsl(212, 27%, 19%);
$yot-very-dark-grayish-blue:hsl(213, 9%, 39%);
$yot-dark-grayish-ble:hsl(210, 4%, 67%);

// Fonts
$yot-font-t:0.625rem; //10px
$yot-font-xsm:0.75rem; // 12px
$yot-font-sm:0.875rem; // 14px
$yot-font-m:1rem; // 16px
$yot-font-l:1.125rem; // 18px
$yot-font-xl:1.25rem; // 20px